body {
    background-image: url("https://images6.alphacoders.com/912/912386.png");
    text-align: center;
    background-size: 100% 960px;
    font-size: 26px;
    color: white;
    font-family: 'Russo One', sans-serif;


}

.gameholder {
    margin: 55px auto;
    opacity: .9;
    background: black;
    padding: 25px;
    border-radius: 25px;
    

}

#generate-underscore {
    font-size: 48px;
}

#wrong-guess-text, #alerts {
    color: crimson;
    font-size: 30px;
}


.gameholder:hover {
    background: rgb(32, 32, 32);
}

.player { 
    opacity: .8;
}

